body {
    font-family: "Bruno Ace SC" , sans-serif;
}

.h1 , .h2 , .fs-1 , .fs-2 {
    font-weight: 400;
    line-height: 1.5;
}

.h1 {
    font-size: 8rem; //128px
}

.h2 {
    font-size: 4rem; //64px
}

.fs-1 {
    font-size: 1.5rem !important ; // 24px 
}

.fs-2 {
    font-size: 1.25rem !important; // 20px
}